temp/
tmp/
.classpath
.project
/*/.classpath
.settings/
*/.settings/
.DS_Store
.idea/
*.class
logs/
target/
lib
classes/
*/WEB-INF/classes/
*/WEB-INF/lib/
deploy/
*.prefs
*.iml
/spd-web/src/main/filters/dev.properties
.gitlab-ci.yaml