<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dengtu.website.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.dengtu.website.domain.User">
        <!--@mbg.generated-->
        <!--@Table mx_user-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="CHAR" property="password"/>
        <!--<result column="NewPassword" jdbcType="CHAR" property="NewPassword"/>-->
        <result column="mobile" jdbcType="CHAR" property="mobile"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
        <result column="update_time" jdbcType="INTEGER" property="updateTime"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="user_register" jdbcType="TINYINT" property="userRegister"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, username, password,
        mobile, create_time, update_time,`status`,
        user_register
    </sql>

    <!--<insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.dengtu.website.domain.User"-->
            <!--useGeneratedKeys="true">-->
        <!--&lt;!&ndash;@mbg.generated&ndash;&gt;-->
        <!--insert into mx_user-->
        <!--values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=CHAR},-->
        <!--#{mobile,jdbcType=CHAR}, #{createTime,jdbcType=INTEGER},-->
        <!--#{updateTime,jdbcType=INTEGER},#{status,jdbcType=TINYINT},-->
        <!--#{userRegister,jdbcType=TINYINT},#{openid,jdbcType=VARCHAR} )-->
    <!--</insert>-->
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.dengtu.website.domain.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into mx_user (username, password,mobile,openid,
        create_time, update_time,
        `status`,user_register)
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{mobile,jdbcType=CHAR}, #{openid,jdbcType=CHAR},
         #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER},
        #{status,jdbcType=TINYINT},
        #{userRegister,jdbcType=TINYINT})
    </insert>

    <!--auto generated by MybatisCodeHelper on 2020-03-18-->
    <select id="selectAllByMobile" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mx_user
        where mobile=#{mobile,jdbcType=CHAR}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from mx_user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-05-07-->
    <select id="selectOneByMobile" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mx_user
        where mobile=#{mobile,jdbcType=CHAR}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.dengtu.website.domain.User">
        <!--@mbg.generated-->
        update mx_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=CHAR},
            </if>

            <if test="mobile != null">
                mobile = #{mobile,jdbcType=CHAR},
            </if>

            <if test="createTime != null">
                create_time = #{createTime,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=TINYINT},
            </if>
            <if test="openid != null">
                openid = #{openid,jdbcType=VARCHAR} ,
            </if>
            <if test="userRegister != null">
                user_register = #{userRegister,jdbcType=TINYINT}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>