<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tensquare.qa.dao.ProblemMapper">
    <resultMap id="BaseResultMap" type="com.tensquare.qa.pojo.Problem">
        <!--@mbg.generated-->
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="createtime" property="createtime"/>
        <result column="updatetime" property="updatetime"/>
        <result column="userid" property="userid"/>
        <result column="nickname" property="nickname"/>
        <result column="visits" property="visits"/>
        <result column="thumbup" property="thumbup"/>
        <result column="reply" property="reply"/>
        <result column="solve" property="solve"/>
        <result column="replyname" property="replyname"/>
        <result column="replytime" property="replytime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, title, content, createtime, updatetime, userid, nickname, visits, thumbup, reply,
        solve, replyname, replytime
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from tb_problem
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete from tb_problem
        where id = #{id}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.tensquare.qa.pojo.Problem"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_problem (title, content, createtime, updatetime, userid, nickname,
        visits, thumbup, reply, solve, replyname, replytime)
        values (#{title}, #{content}, #{createtime}, #{updatetime}, #{userid}, #{nickname},
        #{visits}, #{thumbup}, #{reply}, #{solve}, #{replyname}, #{replytime})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.tensquare.qa.pojo.Problem"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_problem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="visits != null">
                visits,
            </if>
            <if test="thumbup != null">
                thumbup,
            </if>
            <if test="reply != null">
                reply,
            </if>
            <if test="solve != null">
                solve,
            </if>
            <if test="replyname != null">
                replyname,
            </if>
            <if test="replytime != null">
                replytime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title},
            </if>
            <if test="content != null">
                #{content},
            </if>
            <if test="createtime != null">
                #{createtime},
            </if>
            <if test="updatetime != null">
                #{updatetime},
            </if>
            <if test="userid != null">
                #{userid},
            </if>
            <if test="nickname != null">
                #{nickname},
            </if>
            <if test="visits != null">
                #{visits},
            </if>
            <if test="thumbup != null">
                #{thumbup},
            </if>
            <if test="reply != null">
                #{reply},
            </if>
            <if test="solve != null">
                #{solve},
            </if>
            <if test="replyname != null">
                #{replyname},
            </if>
            <if test="replytime != null">
                #{replytime},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tensquare.qa.pojo.Problem">
        <!--@mbg.generated-->
        update tb_problem
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="createtime != null">
                createtime = #{createtime},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime},
            </if>
            <if test="userid != null">
                userid = #{userid},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="visits != null">
                visits = #{visits},
            </if>
            <if test="thumbup != null">
                thumbup = #{thumbup},
            </if>
            <if test="reply != null">
                reply = #{reply},
            </if>
            <if test="solve != null">
                solve = #{solve},
            </if>
            <if test="replyname != null">
                replyname = #{replyname},
            </if>
            <if test="replytime != null">
                replytime = #{replytime},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tensquare.qa.pojo.Problem">
        <!--@mbg.generated-->
        update tb_problem
        set title = #{title},
        content = #{content},
        createtime = #{createtime},
        updatetime = #{updatetime},
        userid = #{userid},
        nickname = #{nickname},
        visits = #{visits},
        thumbup = #{thumbup},
        reply = #{reply},
        solve = #{solve},
        replyname = #{replyname},
        replytime = #{replytime}
        where id = #{id}
    </update>
    <select id="findByIdProblem" resultMap="BaseResultMap">
        select *
        from tb_problem p
        where id in (select problemid
                     from tb_pl
                     where labelid = #{labelId})
        order by p.replytime desc
    </select>
    <select id="findByIdHotProblem" resultType="entity.Result">
        select *
        from tb_problem p
        where id in (select problemid
                     from tb_pl
                     where labelid = #{labelId})
        order by p.reply desc
    </select>
</mapper>